*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 20px;
}

.container{
  max-width: 480px;
}


#messi{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* h2 */

.leo-messi-title{
  font-family: 'Archivo Black', sans-serif;
  margin: 100px auto;
  font-size: 2rem;
  text-align: center;
}

/* 2006 */

.mundial2006{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
max-width: 480px;
height: 700px;
margin: 0 auto;
}

/* img */

.image2006{
  transform: scale(0.5) translateY(-350px);
}

.image2006:hover{
  filter: drop-shadow(5px 5px 7px);
  cursor: pointer;
}

/* icons */

.icons2006{
  display: flex;
  flex-direction: row;
  max-width: 480px;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  transform: translateY(-300px);
}

.ball-icon-2006{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ball-icon-2006:hover{
    color: #0F52BA;
    cursor: pointer;
}

.magic-icon-2006{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.magic-icon-2006:hover{
    color: #0F52BA;
    cursor: pointer;
}

.icons2006-text{
  font-family: 'Archivo Black', sans-serif;
}



/* 2010 */

.mundial2010{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
max-width: 480px;
height: 700px;
margin: 0 auto;
transform: translateY(-200px);
}


/* img */

.image2010{
  transform: scale(0.55) translateY(-350px);
}

.image2010:hover{
  filter: drop-shadow(5px 5px 7px);
  cursor: pointer;
}

/* icons */

.icons2010{
  display: flex;
  flex-direction: row;
  max-width: 480px;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  transform: translateY(-300px);
}

.ball-icon-2010{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ball-icon-2010:hover{
    color: #0F52BA;
    cursor: pointer;
}

.magic-icon-2010{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.magic-icon-2010:hover{
    color: #0F52BA;
    cursor: pointer;
}

.icons2010-text{
  font-family: 'Archivo Black', sans-serif;
}
