*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 20px;
}

.container{
  max-width: 100vw;
  background: rgb(150,186,255);
  background: linear-gradient(100deg, rgba(150,186,255,1) 0%, rgba(255,255,255,1) 100%);
  overflow: hidden;
  font-family: 'Nova Mono', monospace;
}

a {
text-decoration: none;

}

nav{
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  max-width: 768px;
  height: 150px;
  margin: 0px auto 0px auto;

}

.ul-nav{
  display: flex;
  flex-direction: row;
  margin: 20px auto 0 auto;
  width: 100%;
  justify-content: space-between;



}

.li-nav{
  font-size: 2rem;
  list-style: none;
  color: #FDEFEF;
  text-shadow: 5px 5px 6px #082032;
  text-decoration: none;
  text-decoration-style: none;
}

.li-nav:hover{
  color: black;
  cursor: pointer;
}


/* MAIN SCREEN */


.first-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  height: 1200px;
  margin: 100px auto 200px auto;
}

.world-cards-main-title{
  margin: 15px auto 10px auto;
  font-size: 8rem;
  text-align: center;
  color: #082032;
  text-shadow: 5px 5px 8px #082032;
}

.world-cards-second-title{
  margin: 50px auto 50px auto;
  font-size: 3rem;
  text-align: center;
  color: #082032;
  text-shadow: 2px 2px 0px #082032;
    font-family: 'Oswald', sans-serif;
}

.world-cards-second-title-no-breaks{
  display: none;
}

.wallet-connect{
  background-color: #082032;
  color: white;
  border-radius: 50px;
  padding: 15px 40px 15px 40px;
  margin-top: 100px;
  font-size: 2rem;
  filter: drop-shadow(5px 5px 8px #082032);
}

.wallet-connect:hover{
  background-color: white;
  color:  #082032;
  filter: drop-shadow(5px 5px 8px #082032)
}

@media only screen and (min-width: 989px){
  .first-screen{
    height: 500px;
  }
  .world-cards-main-title{
    margin: 5px auto 5px auto;
    font-size: 6rem;
    text-align: center;
    color: #082032;
    text-shadow: 5px 5px 8px #082032;
}
  .world-cards-second-title{
    display: none;
  }
.world-cards-second-title-no-breaks{
  display: inline;
  margin: 25px auto 25px auto;
  font-size: 2rem;
  text-align: center;
  color: #082032;
  text-shadow: 2px 2px 0px #082032;
}
.wallet-connect{
  margin-top: 80px;
  font-size: 1.5rem;
}

}

/* ABOUT */

@media only screen and (max-width: 988px){

#about{

  max-width: 80%;
  height: 150rem;

  background: rgb(80,118,193);
  background: linear-gradient(325deg, rgba(80,118,193,1) 0%, rgba(255,255,255,1) 100%);
  padding-bottom: 50px;
  margin: 1rem auto 2rem auto;
}

.how-does-it-work-title{
  font-size: 4rem;
  margin: 2rem auto 2rem auto;
  text-align: center;
  padding-top: 5rem;
}

.how-it-works{
display: flex;
flex-direction: column;
height: 115rem;
justify-content: center;
align-items: center;
max-width: 100%;
margin: 10rem auto 2rem auto;

overflow: hidden;
}

.flex-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 25rem;
  max-width: 65vw;

  margin: 4rem auto 1rem auto;
}

.svg-img-about{
  transform: scale(0.3);
}

.s-about{
  font-size: 2rem;
  text-align: center;
}

.s-broadcasting{
  transform: translateY(250px);
  font-family: 'Oswald', sans-serif;
  max-width: 80%;
}

.s-mint{
  transform: translateY(150px);
  font-family: 'Oswald', sans-serif;
  max-width: 80%;
}

.s-access{
  transform: translateY(200px);
  font-family: 'Oswald', sans-serif;
  max-width: 80%;
}

.s-hodl{
  transform: translateY(200px);
  font-family: 'Oswald', sans-serif;
  max-width: 80%;
  padding-bottom: 50px;
}


}






/* MESSI */

#messi{
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100vw;
}

/* h2 */

.leo-messi-title{
font-family: 'Nova Mono', monospace;
  margin: 100px auto;
  font-size: 5rem;
  text-align: center;
  color: #FDEFEF;
  text-shadow: 5px 5px 6px #082032;
}

/* 2006 */

.mundial2006{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

max-width: 768px;
height: 800px;
margin: 0 auto 150px auto;

}

/* img */

.image2006{
padding-bottom: 20px;
}

/* icons */

.icons2006{
  display: flex;
  flex-direction: row;
  min-width: 330px;
  max-width: 768px;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  transform: translateX(25px);
  color: white;

}

.ball-icon-2006{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  background-color: #082032;
  padding: 10px 30px 10px 30px;
  filter: drop-shadow(5px 5px 5px #082032);
}

.magic-icon-2006{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  background-color: #082032;
  padding: 10px 30px 10px 30px;
  filter: drop-shadow(5px 5px 5px #082032);
}

.icons2006-text{
  font-family: 'Nova Mono', monospace;
}



/* 2010 */

.mundial2010{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
max-width: 768px;
height: 800px;
margin: 0 auto 150px auto;

}


/* img */

.image2010{
padding-bottom: 40px;
transform: scale(1.1) translateX(15px);
}



/* icons */

.icons2010{
  display: flex;
  flex-direction: row;
  min-width: 350px;
  max-width: 768px;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  transform: translateX(25px);
  color: white;

}

.ball-icon-2010{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  background-color: #082032;
  padding: 10px 30px 10px 30px;
  filter: drop-shadow(5px 5px 5px #082032);
}


.magic-icon-2010{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  background-color: #082032;
  padding: 10px 30px 10px 30px;
  filter: drop-shadow(5px 5px 5px #082032);
}


.icons2010-text{
  font-family: 'Nova Mono', monospace;
}

/* 2014 */

.mundial2014{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
max-width: 768px;
height: 800px;
margin: 0 auto 150px auto;

}


/* img */

.image2014{
padding-bottom: 50px;
transform: scale(1.13);
}



/* icons */

.icons2014{
  display: flex;
  flex-direction: row;
  min-width: 360px;
  max-width: 768px;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  transform: translateX(25px);
  color: white;
}

.ball-icon-2014{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  background-color: #082032;
  padding: 10px 30px 10px 30px;
  filter: drop-shadow(5px 5px 5px #082032);
}


.magic-icon-2014{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  background-color: #082032;
  padding: 10px 30px 10px 30px;
  filter: drop-shadow(5px 5px 5px #082032);
}


.icons2014-text{
  font-family: 'Nova Mono', monospace;
}

/* 2018 */

.mundial2018{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
max-width: 768px;
height: 800px;
margin: 0 auto 150px auto;

}


/* img */

.image2018{
padding-bottom: 50px;
transform: scale(1.16) translateX(-15px);
}



/* icons */

.icons2018{
  display: flex;
  flex-direction: row;
  min-width: 360px;
  max-width: 768px;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  transform: translateX(25px);
  color: white;

}

.ball-icon-2018{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  background-color: #082032;
  padding: 10px 30px 10px 30px;
  filter: drop-shadow(5px 5px 5px #082032);

}


.magic-icon-2018{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  background-color: #082032;
  padding: 10px 30px 10px 30px;
  filter: drop-shadow(5px 5px 5px #082032);
}

.icons2018-text{
  font-family: 'Nova Mono', monospace;

}

/* FOOTER */

#footer {
  width: 100%;
  height: 250px;
/*  background-color: #FDEFEF; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.world-cards-title-footer{
  font-family: 'Nova Mono', monospace;
  font-size: 2rem;
}

.all-rights-reserved{
  font-family: 'Nova Mono', monospace;
  font-size: 1rem;
}

.icon{
  transform: scale(3);
}

.footer-icons{
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  width: 50%;
  justify-content: space-between;
}
